<div ng-controller="pages.noty.search as vm">

    <section class="body-content">
            <section class="container mobile-container" style="padding-right: 0px; padding-left: 0px;">
        <div id="main-content">
     <style>
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}
.search-query:focus{
    width: 260px;
}
.list-group-item:hover{
    cursor: pointer;
}
.media-left{
    display: inline-block;
}
#center{
    margin-top:10px;
    display: inline;
}
#favorites{
    margin-left: -5px
}
#fav{
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Favorites";
}
     </style>   
 <div class="text-center" ng-if="vm.loading"
             style="     margin-top: 13px; border-radius: 48%;margin-left: 0px;clear: both;height: 28px;width: 32px;text-align: center;padding-top: -13px;margin-left: 39%;">
            <img ng-src="http://www.konkhmerapp.com/wp-mobile/khmovie/Scripts/img/ellipsis.svg" alt=""/>
 </div>
<div style="margin-top:27px;"></div>
<div>
    <div>
            <div>
                <div class="panel">
                    <!-- Default panel contents -->
                    <div>
                        <div class="input-group">
                            <input type="hidden" name="search_param" value="name" id="search_param">
                            <input id="searchText"type="text" ng-keyup="vm.searchMovie()" ng-model="vm.filterText" class="form-control" name="q" placeholder="Search Friends" id="search_key" value="">
                            <span class="input-group-btn">
                                <a  id="x" class="btn btn-default hide" href="#" title="Clear"><i class="glyphicon glyphicon-remove"></i> </a>
                                <button class="btn btn-info" type="submit" ng-click="vm.searchMovie()"><i class="fa fa-search"> </i>  </button>
                            </span>
                        </div>
                    </div>


                    <!-- List group -->
                    <ul id="autolist" class="list-group">          
                        <li id="fav" class="list-group-item">
                            <div class="row">
                                <div id="favorites" class="">
                                    <div class="container">
                                        <i class="fa fa-search"> </i><b>LIST OF SEARCH</b>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item"  ng-repeat="v in vm.myItems">
                            <!--<div class='row'>
                                <div class='col-md-12'>
                                    <div class='media-left media-middle'>
                                        <a href='#/watch/{{v.id}}'>
                                            <img class='media-object' src='{{v.img}}'>
                                        </a>
                                    </div>
                                    <div id='center'>
                                        {{v.title}}
                                        <a href="#/watch/{{v.id}}" id='center' class='material-switch pull-right'>
                                           Watch Video
                                        </a>
                                    </div>
                                </div>
                            </div>-->
                            <div class="_mpkb"><div class="_mqkb"><div class="_mrkb"><a href="#/watch/{{v.id}}" class="_mbvb" ><img class="_mzub" src="{{v.img}}" style="margin: -0px -0px;" alt=""><i class="_mcvb"></i></a></div><div class="_mtkb"><span class="_mjhc" aria-label="59 minutes"><span>59:01</span></span></div></div><div class="_mukb"><div class="_mvkb"><a href="#/watch/{{v.id}}" class="_mwkb"><span class="_mjhc"><span>{{v.title}}</span></span></a><div class="_mlmb _mfmb"><span class="_mjhc"><span>ដោយ៖កូនខ្មែរអែប</span></span></div><div><span class="_mxkb"><span class="_mjhc"><span>7,873 views</span></span></span></div><div id="koya_child_223" class="koya-komponent-binding"></div></div></div></div>
                        </li>
                      </ul>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="">
                <ul id="autocompleteTest">

                </ul>
            </div>
        </div>
    </div>
</div>

 

        </div>
      </section>  
    </section>
</div>